.header {
  /*
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    overflow: hidden;
    */
  position: absolute;
  top: 0px;
  left: 0px;
  height: 200px;
  right: 0px;
  overflow: hidden;
}

.link {
  margin: 5%;
  font-family: cursive;
  font-size: larger;
}